@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');
@import url('https://unpkg.com/open-props/colors-oklch.min.css');
@import url('https://unpkg.com/open-props/oklch-hues.min.css');

@media (dynamic-range: high) {
  /* does this browser understand display-p3? */
  @supports (color: oklch(99% 0.03 0)) {
    * {
      --color-hue: var(--hue-indigo);
    }
  }
}

body {
  background-image: url('/images/christmas-spirit-day.avif');
  background-size: contain;
}
// body {
//   background-image: linear-gradient(to bottom, var(--color-2), var(--color-8)),
//     url('/images/christmas-spirit-day.avif');
// }
