@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');
@import url('https://unpkg.com/open-props/colors-oklch.min.css');
@import url('https://unpkg.com/open-props/oklch-hues.min.css');
@import url('https://unpkg.com/open-props/gray-oklch.min.css');

@media (dynamic-range: high) {
  /* does this browser understand display-p3? */
  @supports (color: oklch(99% 0.03 0)) {
    * {
      --color-hue: var(--hue-indigo);
    }
  }
}

:where(html) {
  --font-sans: Prompt, sans-serif;
}

// body {
//   background-image: url('/images/christmas-spirit-day.avif');
//   background-size: contain;
// }

body {
  --content-width: 70ch;
  display: grid;
  grid-template-columns: 1fr var(--content-width) 1fr;
}

// body * {
//   outline: 1px solid red;
// }

.logo-letter {
  fill: var(--color-12);
}

.logo-gray {
  --gray-hue: var(--hue-indigo);
  --gray-chroma: 0.02;
}

.header,
.main,
.footer {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.header {
  background-color: var(--color-12);
  padding: var(--size-fluid-5) 0;

  .content-container {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: var(--size-fluid-3);
  }

  .gloria-deo-logo {
    max-inline-size: 10rem;
  }

  .title,
  .subtitle {
    font-weight: var(--font-weight-5);
    color: var(--gray-4);
  }

  .title {
    line-height: 1.05;
    margin-block-end: var(--size-fluid-1);
  }
}

.main > * {
  grid-column: 2 / 3;
}
