{{ define "main" }}
  <h1>Welcome to Gloria Deo</h1>
  <p>
    Hello! I'm Tina Christopher, the Gloria Deo Cooperative and Planning Team
    director. I hope that you will find answers here to your questions. If not,
    feel free to
    <a href="mailto:speechtherapist@gmail.com" target="_blank"
      >email me directly</a
    >.
  </p>
  <p>
    If you have an interest in joining our co-op for the following school year,
    please visit our
    <a href="/visitor-information">visitor information</a> page.
  </p>
  <h2>About Gloria Deo</h2>
  <p>
    Holding fast to the Word of God in a time of relativistic values, the Gloria
    Deo Classical Homeschool Cooperative seeks to demonstrate the priorities
    laid forth in Scripture.
  </p>
  <p>
    Through a full program, committed membership and cooperative teaching, we
    strive to support each other in homeschooling our children using a classical
    education philosophy.
  </p>
  <p>
    Gloria Deo meets one full day a week for 31 weeks on Mondays at
    <a href="https://maps.app.goo.gl/yyxMip3okSyzvR829" target="_blank"
      >Orchard Community Church, 2285 Latta Road</a
    >
    in Greece. Gloria Deo Cooperative is a member of
    <a href="https://www.leah.org/" target="_blank">Homeschool New York</a>.
  </p>
{{ end }}
