{{ define "main" }}
  <p>
    Holding fast to the Word of God in a time of relativistic values, the Gloria
    Deo Classical Homeschool Cooperative seeks to demonstrate the priorities
    laid forth in Scripture.
  </p>
  <p>
    Through a full program, committed membership and cooperative teaching, we
    strive to support each other in homeschooling our children using a classical
    education philosophy.
  </p>
  <p>
    Gloria Deo meets one full day a week for 31 weeks on Mondays at Orchard
    Community Church, 2285 Latta Road in Greece. Gloria Deo Cooperative is a
    member of L.E.A.H.
  </p>
  <h2>
    Welcome from the Director and Application Overview for the 2023-24 School
    Year
  </h2>
  <p>Welcome!</p>
  <p>
    I'm Tina Christopher, the Gloria Deo Cooperative and Planning Team director.
    I hope that you will find answers here to your questions. If not, feel free
    email me directly at speechtherapist@gmail.com.
  </p>
  <p>
    If you have an interest in joining our co-op for the following school year,
    I want to help acquaint you with our membership process. Each step is
    important and has been carefully thought through to ensure a smooth
    experience for prospective members.
  </p>
{{ end }}
