{{ define "main" }}
  <div class="content">
    <h1>{{ .Title }}</h1>
    <p>
      If you have an interest in joining our co-op for the following school
      year, we want to help acquaint you with our membership process. Each step
      is important and has been carefully thought through to ensure a smooth
      experience for prospective members.
    </p>
    <h2>Investigate Classical Education</h2>
    <p>
      If classical education is a new idea for you, check out some of these
      resources to see if it resonates with your vision for homeschooling.
    </p>
    <ul>
      <li>
        <a
          href="https://www.circeinstitute.org/resources/what-classical-education"
          target="_blank"
          >What is Classical Education?</a
        >
      </li>
      <li>
        <a
          href="https://www.memoriapress.com/articles/classical-education-is-more-than-a-method/"
          target="_blank"
          >More Than a Method</a
        >
      </li>
      <li>
        <a
          href="https://readaloudrevival.com/more-classical-than-you-think/"
          target="_blank"
          >You're More Classical Than You Think</a
        >
      </li>
    </ul>
    <h2>Understand Gloria Deo</h2>
    <p>
      Please check out the following documents to understand more details of our
      co-op.
    </p>
    <ul>
      <li>
        <a
          href="https://drive.google.com/drive/folders/1B_xfyFCE_qb2umY9FzoC0Z-fytco0e4F?usp=sharing"
          target="_blank"
          >Application Materials- Letters of Reference, Family Application,
          etc.</a
        >
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/0B-Us1yQp47YDYjUxNVpLekYtRmc/view?usp=sharing"
          target="_blank"
          >Gloria Deo Constitution</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1CQJFtMNwgQX78j9FB38eUed67WdjJdv2XtPWJadMWx4/edit?usp=sharing"
          target="_blank"
          >Gloria Deo Handbook</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/spreadsheets/d/1rNpyhkgRB6Y4bmmbR6cY8lvz71obeclVluzdbYiGuiQ/edit#gid=843340321"
          target="_blank"
          >Class Schedule</a
        >
      </li>
    </ul>
    <h2>Let Us Know You're Interested</h2>
    <p>
      Complete our <a href="/visitor-form">visitor interest form</a> and expect
      a follow-up call from a member of our group. We ask that you bring all
      your children that would participate in the co-op as well.
    </p>
    <p>
      Appointments are required for co-op visitation. Teachers will prepare for
      your children's visit to their classes, and the planning team will set
      aside time in their schedule to assist and meet with you.
    </p>
    <h2>Visit Us In Person</h2>
    <p>
      Our co-op opening assembly begins at 9:10 and classes end at 4:30. Parents
      visit classes with their children to see what their classes will be like
      and often visit classes they might enjoy teaching. Students visit their
      present grade level, or sometimes the grade level they will be joining
      next year.
    </p>
    <p>
      At some point during your visit, we will schedule an interview, which
      provides you with an opportunity to meet with the planning team so that
      you may ask questions and get to know us better.
    </p>
    <p>
      We ask that visitors come for the whole day. Co-op is a full school day,
      and it is important that you have the opportunity to see what it is like
      to be there the whole day before you commit to a school year.
    </p>
    <h2>Submit an Application to Join</h2>
    <p>
      This early enrollment allows us to make necessary plans for next year as
      we seek excellence for our students. It is common for new member
      application forms to be handed in at the end of the day of your visit.
      However, they may be mailed in separately as well. Included in the
      application are reference materials that also need to be received by the
      Planning Team.
    </p>
    <p>
      Upon completion of those steps, the applications (including reference
      forms) are reviewed and after Planning Team approval, they are taken to
      the co-op for discussion and vote. Please be assured, any confidential
      matters are kept private and are not shared with the group. This is a
      valuable part of the process as members may have questions that assist the
      co-op and prospective member in determining whether the co-op is a good
      fit for a new member and to make the transition to joining a good
      experience.
    </p>
    <p>
      This process is one which mutually assists both the prospective member and
      the cooperative to ensure that we have common and complementary goals.
      There are many homeschool support groups. Ours serves a specific mission
      and niche within the classical Christian community we strive to serve.
    </p>
    <p>
      I hope that this gives you a useful overview of the application process.
      Feel free to ask questions or give me a call (585-414-0281). Thanks again
      for your interest!
    </p>
  </div>
{{- end }}
